.menu-items {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 100%;
}

.menu-items .litepaper-btn img,
.menu-items .pumpswap-btn img {
  height: 36px;
  width: auto;
}
